{% extends 'geek_text/base.html' %} {% block content %}

<div class="container">
  <h1> Cart
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </h1>

  {% if cart.cartItems.exists %}
  <table class="table">
    <thead>
      <tr>
        <th>Item #</th>
        <th>Image Preiview</th>
        <th>Book Name</th>
        <th>Book Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.cartItems.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}
        </th>
        <td>
          <img src="{{ item.book.cover.url }}" width="75px" />
        </td>
        <td>
          <a href='/books/{{item.book.id}}'>{{ item.book.title }}</a>
          <form class='form-product-ajax' method='POST' action='remove/' class="form"> {% csrf_token %}
            <input type='hidden' name='item_id' value='{{ item.id }}' />

            <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">Remove?</button>
            </span>
          </form>
        </td>
        <td>${{ item.price }}</td>

        <td>
          <form class='form-product-ajax' method='POST' action="update_quantity/" class="form"> {% csrf_token %} {% csrf_token %}
            <input type='hidden' name='cartItemId' value='{{ item.id }}' />
            <select class="quantity" name="quantity" onchange="this.form.submit()">
              <option value={{item.quantity}} selected> {{item.quantity}}</option>
              {% for i in "x"|ljust:"10" %}
              <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
              {% endfor %}
            </select>
          </form>
        </td>
        
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4"></td>
        <td>
          <b>Subtotal</b> ${{ cart.subtotal }}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>
          <b>Total</b> ${{ cart.total }}</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td>
            <form method='GET' action='/cart/checkout/' data-endpoint='/cart/checkout/' class="form"> {% csrf_token %}
              <button type='submit' class="btn btn-block btn-success" role="button">Checkout</button>
            </form>
        </td>
      </tr>
    </tbody>
  </table>

  {% else %}
  <h1 class='lead'> Your Cart is Empty</h1>
  {% endif %}
</div>

{% endblock %}
