{% extends 'geek_text/base.html' %}
{% load review_filters %}

{% block content %}
{% if book %}
<div class="container">
	<div class="container-fluid">
		<div class="wrapper-row">
			<h2 class="product-title">{{ book.title }}</h2>
			<div class="product-author"><i>by</i> <a href="#" data-toggle="modal" data-target="#authorModal">{{ book.author }}</a></div>
			<div id="authorModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{ book.author}} Bio</h4>
						</div>
						<div class="modal-body">
							<p>{{ book.author.bio }}</p>
							<br/>
							<a class="btn btn-info btn-block" href="/browse?author={{ book.author.id }}">More By This Author</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="wrapper-row">
			<div class="preview col-md-4">
				<img class="img-responsive" src="{{ book.cover.url }}"/>
			</div>
			<div class="details col-md-6">
				{{ book|avg_rating }}
				<h5 class="product-publish"><strong>{{ book.publisher }} - <i>{{ book.publish_date }}</i></strong></h5>
				<br/>
				<p class="product-description">{{ book.description }}</p>
				<br/>
				<h6 class="product-genre"><i>Genre: {{ book.genre }}</i></h6>
			</div>
			<div class="shopping col-md-2">
				<!-- Shopping links will go here if implemented -->
			</div>
		</div>
	</div>
</div>

{% else %}
<p>This book does not exist!</p>
{% endif %}
{% if book %}
<hr/>
<div class="container">
	<div class="wrapper-row">
		{% if user.is_authenticated %}
		<form method="post" class="col-md-4">
			<h3>Leave a Review</h3>
			{% csrf_token %}

			<div>
				<div class="row">
					<div class="form-group col-md-12">
						<label>Rating</label>
						{{ form.rating }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label>Comment</label>
						{{ form.comment }}
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-3">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

					<div class="form-check col-md-9" style="float:left">
						{{ form.anonymous }}
						<label>Post anonymously?</label>
					</div>

				</div>
			</div>
		</form>
		{% else %}
		<div class="col-md-4">
			<h4>Must be logged in to review!</h4>
		</div>
		{% endif %}
		<div class="col-md-6 col-md-offset-1">
			<h3>Reviews</h3>
			<br/>
			{% if reviews|length == 0 %}
			<h4>No reviews yet!</h4>
			{% else %}
			{% for review in reviews %}
				<div class="panel panel-default">
					<div class="panel-heading">
						{% if review.anonymous %}
							<i>Anonymous user</i>
						{% else %}
							{{ review.user }}
						{% endif %}
						<div class="pull-right">
							{{ review.rating|get_stars }}
						</div>
					</div>
					<div class="panel-body">{{ review.comment }}</div>
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% else %}
	<p>No reviews for a non-existent book!</p>
{% endif %}
</div>
{% endblock content %}
