{% extends 'geek_text/base.html' %}
{% load review_filters %}

{% block content %}
{% if book %}
<div class="container">
	<div class="card">
		<div class="container-fluid">
			<div class="wrapper-row">
				<h2 class="product-title">{{ book.title }}</h2>
				<div class="product-author"><i>by</i> {{ book.author }}</div>
			</div>
			<br/>
			<div class="wrapper-row">
				<div class="preview col-md-4">
					<img width=100% src="{{ book.cover.url }}"/>
				</div>
				<div class="details col-md-6">
					<div class="rating">{{ book|avg_rating }}</div>
					<h5 class="product-publish"><strong>{{ book.publisher }} - <i>{{ book.publish_date }}</i></strong></h5>
					<p class="product-description">{{ book.description }}</p>
					<br/>
					<h6 class="product-genre"><i>Genre: {{ book.genre }}</i></h6>
				</div>
				<div class="shopping col-md-2">
					<!-- Shopping links will go here if implemented -->
				</div>
			</div>
		</div>
	</div>
</div>






{% else %}
<p>This book does not exist!</p>
{% endif %}
{% endblock content %}

