{% extends 'geek_text/base.html' %}
{% load review_filters %}

{% block content %}
<style>
</style>
{% load widget_tweaks %}
     <nav class="navbar navbar-inverse" id="filterbar">
       <div class="container-fluid">
         <div class="navbar-header">
          <h4 id="filterby" class="navbar-toggle" data-toggle="collapse" data-target="#myFilterbar"> <span class="glyphicon glyphicon-filter"></span> Filter By:</span></h4>
          </div>
         <div class="collapse navbar-collapse" id="myFilterbar">
           <ul class="nav filter">
            <form method="get">
             <li class="fil-item">
                 {{ filter.form.genre.label_tag }}
                 {% render_field filter.form.genre class="form-control" %}
             </li>
             <li class="fil-item">
                  {{ filter.form.author.label_tag }}
                  {% render_field filter.form.author class="form-control" %}
              </li>
              <li class="fil-item">
                   <label for="id_rating">Average Rating:</label>
                   {% render_field filter.form.rating class="form-control" %}
              </li>
              <li class="fil-item">
                    <label for="id_rating">Sort By:</label>
                    {% render_field filter.form.o class="form-control" %}
              </li>
              <li class="fil-item">
                     {% csrf_token %}
                     <label for="id_per_page" >Results Per Page:</label></br>
                     <select name="p" class="form-control" >
                         <option value="10">10</option>
                         <option value="20">20</option>
                     </select>
              </li>
              <li class="fil-item">
                  <div class="">
                   <button type="submit" class="btn btn-secondary" >
                   <span class="glyphicon glyphicon-search"></span> Submit</button>
                </form>
                   <form action="">
                     <button type="submit" class="btn btn-secondary" >
                     <span class="glyphicon glyphicon-remove"></span> Reset</button>
                   </form>
                 </div>
                 </li>
             </ul>
         </div>
       </div>
     </nav>

<div class="container-fluid" id="bookContent" >
    {% for book in books%}
        <div class="book" style="padding-bottom: 30px;">
          <div class="row" style="padding: 10px; border-bottom: solid 1px #ddd; ">
            <div class="col-sm-3">
              <div class="center">
                <a href="/books/{{ book.id }}"><img width=150px src="{{ book.cover.url }}"/></a>
              </div>
            </div>
            <div class="col-sm-9 bookinfo">
              <div class="col-sm-12 title">
                <h3 class="bold" id="bookTitle"><a href="/books/{{ book.id }}">{{ book.title }}</a></h3>
              </div>
              <div class="col-sm-12 details">
                <div class="col-xs-6">
                  <div class="product-author"><i>by</i> <a href="" data-toggle="modal" data-target="#authorModal{{book.id}}">{{ book.author }}</a></div>
                  <div id="authorModal{{book.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h3 class="modal-title bold">{{ book.author}}</h3>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                          <div class="col-sm-6">
                            <img id="imgprotrait" src="{{ book.author.portrait.url }}"/>
                          </div>
                          <div class="col-sm-6" style="margin-top: 10px;">
                            <p>{{ book.author.bio }}</p>
                          </div>
                        </div>
                          <a class="btn btn-info btn-block" href="/browse?author={{ book.author.id }}">More By This Author</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <p>{{ book.publish_date }}</p>
                </div>
                <div class="col-xs-6">
                  <p>{{ book.genre }}</p>
                </div>
                <div class="col-xs-6">
                  <p>{{ book.publisher }}</p>
                </div>
                <div class="col-xs-6">
                  <h4>{{ book|avg_rating }}</h4>
                </div>
                <div class="col-xs-6">
                  <h4 style="float:center" class="bold">{{ book.price }}</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if books.has_other_pages %}
  <div id="pages" style="text-align: center;">
  <ul class="pagination" style="padding-top: 15px;">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
  {% endif %}
{% endblock %}
