{% extends 'geek_text/base.html' %}
{% load review_filters %}

{% block content %}
	{% if book %}
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					Average: {{ book|avg_rating }}
				</div>
			</div>

			<div class="row">
				{% if user.is_authenticated %}
					<form method="post">
						{% csrf_token %}

						<div class="col-md-8 col-md-offset-2">
							<div class="row">
								<div class="form-check col-md-6">
									<br>
									{{ form.anonymous }}
									<label>Post anonymously?</label>
								</div>

								<div class="form-group col-md-6">
									<label>Rating</label>
									{{ form.rating }}
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label>Comment</label>
									{{ form.comment }}
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-6">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</form>
				{% endif %}
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{% for review in reviews %}
						<div class="panel panel-default">
							<div class="panel-heading">
								{% if review.anonymous %}
									<i>Anonymous user</i>
								{% else %}
									{{ review.user }}
								{% endif %}
								<div class="pull-right">
									{{ review.rating|get_stars }}
								</div>
							</div>
							<div class="panel-body">{{ review.comment }}</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<p>This book does not exist!</p>
		{% endif %}
	</div>
{% endblock content %}
